# [file name]: requirements.txt
# [file content begin]
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
pandas==2.1.3
scikit-learn==1.3.2             # Para alimentar y consumir el modelo ML
numpy==1.24.3
python-multipart==0.0.6
requests==2.31.0                # Para request en linea
sqlalchemy[asyncio]==2.0.23      # ORM para la base de datos
asyncpg==0.29.0                 # Driver async para PostgreSQL
pydantic-settings==2.1.0        # Para manejar variables de entorno (DB_URL)
alembic==1.13.0                 # Para migraciones de base de datos
slowapi==0.1.9                  # Para rate limiting
redis==5.0.1                    # Backend para el rate limiter
# [file content end]